<div class="container">
  <p><%= notice %></p>
  <p>
    <strong>Code:</strong>
    <%= @movie.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @movie.name %>
  </p>

  <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-main m-3" %> |
  <%= link_to "Back", movies_path, class: "btn btn-link" %>
</div>
